body {
  margin: 0;
  background-image: url(image/background.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Titan One', cursive;
  font-size: 50px;
  letter-spacing: 3px;
  margin: 5px 0;
  border: 1px solid #fff;
  background-color: #fff;
  opacity: 0.95;
  border-radius: 5px;
  padding: 10px;
}

.yellow {
  border: 10px dotted yellow;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.menu-div {
  border: 1px solid black;
  height: 400px;
  width: 50%;
  background-image: url(image/vintage.jpg);
  border-radius: 10px;
  font-family: 'Cabin Sketch', cursive;
}

.menu-div h2 {
  text-align: center;
}

.title-and-items {
  border: 5px dotted #000;
  border-radius: 10px;
  background-color: rgba(242,243,206,0.8);
  margin-top: 9px;
  transform: rotate(6deg);
}

.customer span, .player span {
  text-decoration: underline;
}

.customer li, .player li {
  list-style: none;
}

/*Modified speech bubble code from: https://1stwebdesigner.com/css-shapes/*/

.speech-bubbles {
  display: inline-flex;
}

.customer-div, .player-div {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 300px;
  background: #F2F3CE;
  position: relative;
  border-radius: 12px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  padding-right: 15px;
}

.customer-div:before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 38px;
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 26px solid #F2F3CE;
  border-bottom: 13px solid transparent;
}

.customer-div {
  margin-right: 180px;
  margin-top: 20px;
}

.player-div {
  margin-right: 50px;
  margin-top: 200px;
}

#game-status {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(image/checkerboard.jpg);
  background-position: center;
  background-size: 300px;
  height: 80px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  margin-top: 10px;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 20px 100px;
  padding-left: 0;
}

.menu-items {
  width: 100px;
  cursor: pointer;
  border: 1px outset #E44870;
  background-color: #E44870;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 6px #34383D;
}

.menu-items:hover {
  background-color: #FF7195;
}

.menu-items:active {
  background-color: #FF7195;
  box-shadow: 1px 3px #252A2B;
  transform: translateY(3px);
}

#coins, #xp, #customers-left, #timer {
  font-size: 30px;
  border: .5px outset #80C9A2;
  border-radius: 5px;
  background-color: #80C9A2;
  padding: 8px 10px;
  box-shadow: 7px 7px 20px #34383D;
}

/*Modified code for animated button from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1*/

button {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  color: #F2F3CE;
  background-color: #80C9A2;
  font-family: 'Cabin Sketch', cursive;
}

button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 170px 50px 20px;
}

.blink {
  background: #E44870 !important;
}
